[submodule "level_01/ft_printf"]
	path = level_01/ft_printf
	url = https://github.com/otaola03/ft_printf
[submodule "level_01/get_next_line"]
	path = level_01/get_next_line
	url = https://github.com/otaola03/get_next_line
[submodule "level_00/libft"]
	path = level_00/libft
	url = https://github.com/otaola03/libft
[submodule "level_02/push_swap"]
	path = level_02/push_swap
	url = https://github.com/otaola03/push_swap
